.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    background: transparent;
    background-image: none;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0,0);
    position: fixed;
    mix-blend-mode: difference;
    transition: all 100ms ease;
}

.hover {
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0,0);
    position: fixed;
    mix-blend-mode: difference;
    -webkit-transition: all 0.1s ease;
}

.hide {
    display: none;
}

.hoverIMG{
    z-index: 1000;
    display: Flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0,0);
    position: fixed;
    transition: all 100ms ease;
    mix-blend-mode: normal;
    font-family: 'Manrope';
    letter-spacing: 0.1rem;
}

.hoverText{
    z-index: 1000;
    display: Flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 0;
    background: fixed;
    background-image: url('../../public/web.gif');
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0,0);
    position: fixed;
    transition: all 100ms ease;
    mix-blend-mode: difference;
    font-family: 'Manrope';
    letter-spacing: 0.1rem;
}

@media (max-width: 1360px) {
    .app-cursor{
        display: none;
    }
}