.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: 141414;
    background-color: #ffffff;
    padding: 10%;
    font-family: 'Manrope';
    gap: 24px;
}

#boldT {
    color: #141414;
    font-weight: 800;
}

.contact h2 {
    color: #383838;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 2.5rem;
    width: 90%;
    overflow: hidden;
}
.contact #resumetext {
    color: #383838;
    letter-spacing: 0.2px;
    font-weight: 500;
    line-height: 2.5rem;
    width: 90%;
    overflow: hidden;
}

.contact span {
    color: #8b8b8b;
    overflow: hidden;
}

.contact .name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact .email {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact .resume {
    display: flex;
    text-decoration: underline;
    align-items: center;
    gap: 12px;
}

.contact .icons {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 12px;
}

.contact .icons svg:hover {
    fill: #141414;
}

@media (max-width: 728px){
    .contact h2 {
        color: #383838;
        letter-spacing: 0.2px;
        font-size: medium;
        font-weight: 500;
        line-height: 1.5rem;
        width: 90%;
        overflow: hidden;
    }
}

@media (min-width: 728px) {
    .contact .resume {
        display: none;
    }
}