header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0% 5%;
    position: fixed;
    background: transparent;
    z-index: 1;
    font-family: 'Manrope';
    mix-blend-mode: difference;
}

a {
    text-decoration: none;
    font-family: 'Manrope';
    color: white;
}

hr{
    display: flex;
    align-self: center;    
    width: 5rem;
    height: 1px;
}

.menuList {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    background: transparent;
}

.second {
    display: flex;
    gap: 48px;
    background: transparent;
}

.menuList 
#menuItem {
    color: white;
    background: transparent;
}

#name
{
    position: relative;
}

#name:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#name:hover:before {
    visibility: visible;
    width: 100%;
}

#menuItem
{
    position: relative;
}

#menuItem:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

#menuItem:hover:before {
    visibility: visible;
    width: 100%;
}

.icon {
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 728px) {
    hr{
        display: none;
    }

    .resume {
        display: none;
    }

    .menuList {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        list-style-type: none;
        background: transparent;
    }

    .menuList #name {
        display: none;
    }
}